html {
  scroll-behavior: smooth;
}

body {
  font-family: "SFProDisplay";
  font-weight: 700;
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 16px;
  padding-right: 16px;
  padding-top: 113px;
  min-width: 320px;
  width: 100%;
}
